.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  


}

.item {
  background: #e04848;
  padding: 20px;
  border: 1px solid #ccc;
}

.item1{

    grid-row: 1/3;
    grid-column: 1/5;
}



    
    



