h1{
    color: blueviolet;
    text-align: center;
    text-decoration: overline;
    text-transform: capitalize;
    font-size: 50px;
    text-shadow: 5px 8px 3px gray;
    
}
p{ 
    text-indent: 30px;
}
