<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div style="position: absolute; left: 0px; top: 0px; background-color: aqua; z-index: 4"></div>
    <div style="position: absolute; left: 100px; top: 180px; background-color: chartreuse; z-index: 7; "></div>
    <div style="position: absolute; left:200px; top: 360px; background-color: crimson;z-index: 8; "></div>
    
</body>
</html>