 body{ background-color: burlywood;


      }
       
        #tree{

           font-size: 20px;
         text-decoration: underline;
        }

        *{
            background-color: beige;
        }
        
        .shared_styling{ 
            background-color: aqua;

        }
        