
h1{
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-variant:small-caps;

}

p{
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 1px;
}