<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        <div style="background-color: yellow;">Yahya</div> 
        <div style="background-color: yellow;">jibril</div>
        <span style="background-color: green;">ahmed</span>
        <span style="background-color: green;">abdi</span>
    </h1>
    p
</body>
</html>