body {
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwcNDQgIBwYGBwcNBw0ICAcGBg8ICQcKFREWFhURFR8YHCggGBolJxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDw0NDi0ZFRkrKysrKysrNysrKysrKysrLSsrKysrKysrKystKy0tKysrKysrKys3NysrKysrKysrK//AABEIAM0A9gMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAABAAUG/8QAFRABAQAAAAAAAAAAAAAAAAAAAAH/xAAaAQEBAQEBAQEAAAAAAAAAAAACAwYBAAUE/8QAFREBAQAAAAAAAAAAAAAAAAAAAAH/2gAMAwEAAhEDEQA/AO4ST7j8KSDldiBA04EkNUgSAU4gQNOBJDVIAQFOIEDTgSA1SIEBTiCQ1SBJDTgBAU4gkNUgSQk00k0LIIJDSgSA1SIEDTiCQU4EgNUiBA04EkFUgSA04gQNOIJBVIEgNOIEDTgSQVSAEDTiCQm1Eg0THRAgKpFQkNOBJDTgopAVSIJDTgVQGqRAgKcQSGnAkBqkQICnEEhpwJAapECApxCpDVIEkJNQENFWPiFQCnECBqkQpA04EgFOIUgapEEhpwJAKcQIGqRBIacCQCqRCkDTiCQ04EgFUioIGnEgRNppBoqx0QICqRBIacCQGnECAqkQQGnEkBqkQICnAkhpwAgapEEgpxBAacQIGqRBIKcCQGnEQhNqBKtFWPgSAU4gRRpxBIapAkApxA0DVIgkNOBIBTiBA1SIJDTgSAU4gQNUiCQ04AaAqkQIGnEhUJtQGhoqx0QSCnEFQNUiBA04gqgqkCQGnECBpxBIKpAkBpxAgapEFUFOBIDTiBFGqRBIKcCQo04kkJtNJNFWPgSAU4gQNOBJDVIAQFOIEDTgSA1SIEBTiCQ1SBJDTgBAU4gkNUgSA04gQFOIJDVIkEJtQENFWOiCQU4EgNUiBA04EkFUgSA04gQNOIJBVIAQNOIEDTgSAVSIEDTiCQ04EkFUgSA04kkJtNJNFWOgoICqRBIacCqA1SIEBTiCQ04EgNUiBAU4gkNOBIDVIgQFOIVIapAkBpxCkBTiCQ1SBJCbUFIaKsdAkApxCkDVIgkNOBIBTiBA1SIJDTgSAVSIEDTiCQ04EgFUioIGnEEhpwVIBVIgQNOJJOE00g0NY+IEBVIggNOJIDVIgQFOBJDTgBA1SIJBTiCA04gQNUiCQU4EgNOIEDVIgQFOBJCcSSedaYVTQVkYEhQpxA0DVIgqhpwJAKcQIGqRBIacCQCnEDQNUiCQ04AaApxA0DVIgqhpwAgKpEknCSSeef/Z);
  background-repeat: no-repeat;
  background-size:cover;

background-attachment:fixed;

}
p{
    color: white;
    font-size: large;
}
